.results {

    height: 50%;
    width: 100%;
    background-color: #B8B8B8;
    border-radius: 0px 0px 25px 25px;
    text-align: center;
    font-size: 26px;

}

.ukr {
    font-size: 18px;
    line-height: 28px;
    font-style: italic;
}

@media (max-height: 780px) {
    .results {
        height: 45%;
    }
}

@media (max-height: 740px) {
    .results {
        height: 40%;

    }
}